@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --primary-blue:#00d8ff;
    --primary-purple: #6a00ff;
}

.blue{
    color: var(--primary-blue);
}
@layer base {
    
    *{
        @apply font-[Kanit]
    }
    li {
        @apply p-4 text-2xl md:text-xl
    }
    button{
        @apply bg-gradient-to-r from-[var(--primary-blue)] to-[var(--primary-purple)] px-4 py-2 rounded-3xl  hover:shadow-white
    }

    h1{
        @apply text-3xl font-bold
    }
}